<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.net>
    <mailSettings>
      <smtp from="noreply@mywaitlist.com.au">
        <network host="smtp.sendgrid.net" userName="AdamStephensenTraining" password="Pass@word1" port="2525" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>